extends ../base

block content
  #videoContainer(data-id=`${video._id}`)
    video(src=`/${video.fileUrl}`) 
    #videoControls.videoControls
      .videoControls__play
        span#play.vidoControls__playBtn
          i.fas.fa-play
        .videoControls__time
          span#currenTime 00:00
          span  / 
          span#totalTime 00:00
      input(type="range",step="1" value="0"  min="0")#timeline
      .videoControls__volume 
        input(type="range",step="0.1" value="1"  min="0" max="1")#volume
        span#mute
          i.fas.fa-volume-up
      div 
        span#fullScreen
          i.fas.fa-expand

  .video__data
    p.video__title=video.title
    small.video__owner 유저
      a(href=`/users/${video.owner._id}`) 
        img(src=video.owner.avatarUrl, crossorigin="anonymous")
        | #{video.owner.name}
    small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
    if String(video.owner._id) === String(loggedInUser._id)
      a(href=`${video.id}/edit`) Edit Video &rarr;
      br
      a(href=`${video.id}/delete`) Delete Video &rarr;
    p=video.description

  if loggedIn
    .video__add-comments 
      form.video__comments-form#commentForm
        textarea(cols="30", rows="10") 
        button 작성하기
  .video__comments 
    ul 
      each comment in video.comments.reverse()
        li.video__comment
          img(src=`${comment.owner.avatarUrl}`, crossorigin="anonymous", alt="").video__comment-owner
          span #{comment.text}

block scripts 
  script(src="/assets/js/videoPlayer.js") 
  if loggedIn
    script(src="/assets/js/commentSection.js")