extends ../base

block content
  div
    video(src=`/${video.fileUrl}`, controls) 
//- 
    h2 
      a(href=`/users/${video.owner._id}`) 
        img(src=video.owner.avatarUrl)
        | #{video.owner.name}
    p=video.description
    small=video.createdAt
  if String(video.owner._id) === String(loggedInUser._id)
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts 
  script(src="/assets/js/videoPlayer.js") 